<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyC_dzlegXTJuGMYwvfQ7-hQMNUFKsr3GaM",
      authDomain: "findit-a0a3d.firebaseapp.com",
      projectId: "findit-a0a3d",
      storageBucket: "findit-a0a3d.appspot.com",
      messagingSenderId: "918331502947",
      appId: "1:918331502947:web:1997de363a1eac57a7a356",
      measurementId: "G-RSLX0KD5VQ"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>